@media (max-width: 500px) {
  .container {
    width: 100%;
    padding: 30px 10%;
    margin: auto;
  }
  /* nav-bar */
  #nav-bar {
    padding: 0;
    margin: 0;
  }
  .nav {
    display: flex;
    align-items: baseline;
    /* font-size: 18px; */
    gap: 0;
    flex-direction: column;
    padding: 20px 0;
  }
  .nav-bar-content {
    display: flex;
    /* gap: 10px; */
    font-size: 14px;
    text-align: center;
    border-left: 0;
    padding: 10px;
    /* padding: 28px 28px; */
  }
  /* big section in the middle of nav-bar */
  .big {
    /* position: relative; */
    padding-right: 0;
  }
  /* avatar */
  .content-ly-lich img {
    display: none;
  }

  /* about */
  #about {
    display: block;
    background-color: #f7f7f7;
  }
  #target {
    width: 100%;
    /* padding: 5.1% 4% 5% 12%; */
    padding: auto;
  }
  #target p {
    line-height: 1.5;
    color: #495057d1;
  }
  #personal-info {
    /* background-color: #f1f1f1; */
    padding: auto;
    width: 100%;
  }
  #personal-info li {
    padding: 0 8%;
  }
  .my-info {
    color: #495057d1;
  }
  #personal-info .section-title {
    padding: 0 8%;
    /* margin-bottom: 28px; */
  }
  .info {
    list-style: none;
    line-height: 1.5;
  }

  /* job info */
  .container--content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container-child {
    border: 0.5px solid #adb5bd;
    padding: auto;
    /* margin: 10px 0px; */
    /* width: 400px; */
  }
  .content-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-right: 4%;
  }

  .content-title i {
    align-self: center;
    /* justify-self: left; */
    width: 8%;
  }
  .content-section {
    line-height: 1.5;
  }
  .date {
    color: #495057d1;
    font-style: italic;
    margin-bottom: 10px;
  }
  .date span {
    background-color: #199cdb;
    padding: 1% 2%;
    border-radius: 12px;
    color: #fff;
  }
  /* more detail in content-detail class */
  .more-detail {
    color: #495057d1;
  }
  /* style for ul */
  .timeline ul {
    list-style: none;
  }
  .timeline li {
    position: relative;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 25px;
  }
  .timeline li:after {
    content: "";
    background-color: #199cdb;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 6px;
    height: 12px;
    width: 12px;
  }
  /* hobbies */
  .hobbies {
    display: flex;
    /* grid-template-columns: 25% 25% 25% 25%;
    row-gap: 14px;
    column-gap: 5px; */
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .hobbies i {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.5px;
    height: 3rem;
    width: 3rem;
    /* padding-left: 16px; */
    border: 1px solid #199cdb;
    border-radius: 50%;
    margin-top: 0.8rem;
  }
  .hobbies span {
    font-size: 14px;
    justify-self: center;
    align-self: center;
    color: #495057d1;
  }
  /* các bậc thể hiện trình độ */
  .level-blue {
    margin-top: 10px;
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }
  .level-grey {
    margin-top: 10px;
    background: #adb5bd;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }

  /* certificate section */
  .certs {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 50% 50%;
  column-gap: 64px;
  row-gap: 24px; */
  }
  .cert {
    display: block;
    /* column-gap: 24px; */
  }
  .cert img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  .cert h3 {
    align-self: center;
  }
  .cert ul {
    list-style: none;
    padding-left: 0;
  }
  .cert li {
    color: #495057d1;
  }
  .second {
    /* padding-left: 18px; */
    padding-top: 24px;
    border-top: 1.1px solid #d6c08d;
    border-left: 0;
  }

  /* project section */
  .project {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .project-child {
    border: 0.5px solid #adb5bd;
  }
  .project-child img {
    width: 100%;
    height: auto;
    border-bottom: 0.5px solid #adb5bd;
  }
  .project-child h3 {
    border-bottom: 0.5px solid #adb5bd;
    padding: 18px 18px;
    font-size: 18px;
    text-transform: uppercase;
  }
  /* line 1 of project section */
  .line-1 {
    padding: 18px 18px;
    border-bottom: 0.5px solid #adb5bd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .year {
    background-color: #199cdb;
    color: #fff;
    border-radius: 20px;
    padding: 8px 12px;
  }
  /* the last 3 row of project section */
  .grid-3-rows {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .grid-3-rows span {
    border-bottom: 0.5px solid #adb5bd;
    /* padding: 18px 0 18px 10px; */
    padding: auto;
  }
  .grid-3-rows span:last-of-type {
    border-bottom: 0;
  }
  .grid-3-rows p {
    border-bottom: 0.5px solid #adb5bd;
    /* padding: 18px 14px 18px 0; */
    padding: auto;
    margin-bottom: 0;
  }
  .grid-3-rows p:last-child {
    border-bottom: 0;
  }
  .socials span {
    display: none;
  }
}
